{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "import/order": [
      "warn",
      {
        "pathGroups": [
          { "pattern": "react", "group": "builtin" },
          { "pattern": "next/*", "group": "builtin" }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "alphabetize": { "order": "asc" },
        "newlines-between": "always"
      }
    ]
  }
}
